h1{
    color:rgb(239, 154, 225);
    font-size: 70px ; 
}
p{
    color:lightpink;
    font-size: 44px;
}

.p1{
    color: chocolate;
    font-size: 20px;
}

.bg-teal{
    background-color:pink;
}

#p2 {
    color:deeppink;
    font-style: italic;
}

input[type=text]{
    background-color: pink;
    font-style: italic;
    border: 4px solid deeppink;
    padding: 10px;
}

*{
    border: 2cqmin solid pink;
}

button:hover {
    background-color: palevioletred;
}